.*
.cache
compile_commands.json
*.svg
*.o
*.elf
*.pocl
*.dump
*.bin
*.a
*.so
*.log

!.gitignore

runtime/opae/vortex_afu.h
sim/opaesim/vortex_afu.h
sim/rtlsim/rtlsim
sim/simx/simx
tests/opencl/blackscholes/blackscholes
tests/opencl/convolution/convolution
tests/opencl/dotproduct/dotproduct
tests/opencl/guassian/guassian
tests/opencl/lbm/lbm
tests/opencl/nearn/nearn
tests/opencl/oclprintf/oclprintf
tests/opencl/psort/psort
tests/opencl/saxpy/saxpy
tests/opencl/sfilter/sfilter
tests/opencl/sgemm/sgemm
tests/opencl/spmv/spmv
tests/opencl/stencil/stencil
tests/regression/basic/basic
tests/regression/demo/demo
tests/regression/diverge/diverge
tests/regression/dogfood/dogfood
tests/regression/fence/fence
tests/regression/io_addr/io_addr
tests/regression/mstress/mstress
tests/regression/no_mf_ext/no_mf_ext
tests/regression/no_smem/no_smem
tests/regression/printf/printf
tests/regression/sgemmx/sgemmx
tests/regression/sort/sort
tests/regression/vecaddx/vecaddx
tests/unittest/vx_malloc/vx_malloc
